<%- include('header.ejs') %>

<section class="content">

    <h1>My todo</h1>


    <h3><a href="/create">Add tasks</a></h3>


    <table>
        <tr><th>Task</th><th>Deadline</th><th></th></tr>

        <% tasks.forEach(function(obj){ %>          
            <tr>
                <td><%= obj.taskcontent %></td>
                <td><%= obj.taskdeadline %></td>
                <td>
                    <a href="/edit/<%= obj.idtasks %>"> Edit </a>|
                    <form action="delete/<%= obj.idtasks %>" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>
</section>


<%- include('footer.ejs') %>
